@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root{
  back
} */

* {
  margin: 0;
}
@keyframes scroll-reverse {
  0% {
    transform: translateX(-49%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-reverse {
  display: flex;
  animation: scroll-reverse 25s linear infinite;
  width: calc(200%);
}

.text-opacity {
  color: #333333;
  opacity: 0.6;
}
/* Custom spin animation for infinite rotation */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}
body.inverted {
  filter: invert(100%);
}